body{
font-family: Verdana, Geneva, Arial, sans-serif;
font-size: Small;
    background-color:white;
    }
h1{
    font-size:250%;
    text-align:center;
    color:cadetblue;
    
}
h2{
    font-size:150%;
    text-align:center;
    color:powderblue;
    
}
#뒤로가기{
    text-align: left;
    font-size:60%;
}
#standard{
    text-align:center;
    padding:30px;
}
#footer{
    color:gray;
    font-size:30%;
    text-align:center;
    padding:15px
        margin:10px;}
#footer2{
    color:gray;
    font-size:40%;
        text-align:center;
    padding:15px
        margin:10px;